body,main{
    display: flex;
}
body{
   flex-direction: column;
}
main{
   flex-direction: row;
   flex: auto;
   padding: 20px;
}
article{
   flex: 1;
   background-color: blue;
   padding: 15px;
   border-radius: 5px;
}
article,aside{
   overflow-y: auto;
}
aside{
   background-color: aqua;
   padding: 15px;
   border-radius: 5px;
}
header .logo {
   font-size: 1.5em; 
   color: lightblue; 
   margin-right: 10px; 
 }
footer{
   background-color: cadetblue;
   color: red;
   padding: 10px;
}